body{
    background-image: url('dreamer.png');
    background-size: cover;
}

h1{
    color: #d4ecff;
    position:absolute;
    top:1vh;
    left:50vw;
    transform: translateX(-50%);
    font-family: serif;
    font-size: 12vw;
}

button{
    background-color: rgba(255, 255, 255, 100);
    font-size: 3vw;
    font-family: serif;
    padding: 10vh 5vw;
    border-radius: 10%;
    border-width: 5px;
    cursor: pointer;
    border-color: #869cc6;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2vw; 
    margin-top: 45vh;
  }

.history-button{
    animation-name: bordercolors;
    animation-duration: 3s;  
}

.history-button:hover{
    transform: rotate(-3deg);
}

.log-button{
    animation-name: bordercolors;
    animation-duration: 3s;  
}

.log-button:hover{
    transform: rotate(3deg);
}

@keyframes bordercolors {
    0%   {border-color: #869cc6;}
    25%  {border-color: #a9c5f9;}
    50%  {border-color: #b6dcfc;}
    100% {border-color: #d4ecff;}
}