body{
    background-image: url('dreamer.png');
    background-size: cover;
}

h1{
    color: #d4ecff;
    font-family: serif;
    font-size: 10rem;
}

.container{
    display: flex;
    align-content: center;
}