body{
    background-image: url('dreamer.png');
    background-size: cover;
}

h1{
    color: #d4ecff;
    font-family: serif;
    font-size: 7rem;
    position:absolute;
    bottom: 66%;
    left:10%;
}

#btn3{
    font-size: 7rem; 
    color: #d4ecff;
    background-color: transparent;
    border-color: transparent;
}

.container{
    display: flex;
    justify-content: flex-start;
}

#btn1{
    color: #483966;
    font-family: serif;
    font-size: 5rem;
    position:absolute;
    bottom: 66%;
    left:10%;
    background-color: white;
    border-color: #869cc6;
    border-width: 5px:
}