body{
    background-image: url('dreamer.png');
    background-size: cover;
}

h1{
    color: #d4ecff;
    position:absolute;
    bottom: 55%;
    left:50%;
    transform: translateX(-50%);
    font-family: serif;
    font-size: 10rem;
}

#btn3{
    font-size: 10rem; 
    color: #d4ecff;
    background-color: transparent;
    border-color: transparent;
}

#btn1{
    margin-top: 16%;
    font-size: 4rem;
    color: #483966;
    background-color: white;
    border-radius: 10%;
    border-width: 5px;
}

#btn2{
    margin-top: 20px;
    font-size: 4rem;
    color: #483966;
    background-color: white;
    border-radius: 10%;
    border-width: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}