body{
    background-image: url('dreamer.png');
    background-size: cover;
}

h1{
    color: #d4ecff;
    font-family: serif;
    font-size: 7rem;
	margin: 0;
	margin-left: 30px;
}

#exitBtn{
    color: #d4ecff;
    background-color: transparent;
    border-color: transparent;
	margin: 0;
}

img{
	width: 100px;
	height: 100px;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: row;
}

.itemback{
    width: 36vw;
    height: 60vh;
    background-color: white;
	border: 5px solid #869cc6;
	border-radius: 5px;
}

.square{
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 70vh; 
	margin-left: 1.5vw;
}

.input-overlay-title{
	position: absolute; 
    top: 37vh; 
    left: 20.4vw; 
    transform: translate(-50%, -50%); 
	z-index: 1;
}

.input-label{
	color: #483966;
    font-size: 5vw;
    font-family: serif;
}

.text-input{
    color: #483966;
    font-size: 1.9vw;
    font-family: serif;	
	border: 2px solid #869cc6;
	border-radius: 5px;
	width: 34vw;
}


.input-overlay-type{
	position: absolute; 
    top: 58vh; 
    left: 20.4vw; 
    transform: translate(-50%, -50%); 
	z-index: 1;
}

.input-overlay-date{
	position: absolute; 
    top: 79vh; 
    left: 12vw; 
    transform: translate(-50%, -50%); 
	z-index: 1;
}

.date-label{
	color: #483966;
    font-size: 3.8vw;
    font-family: serif;
}

.custom-date{
	appearance: none; 
    width: 13.5vw; 
    border: 2px solid #869cc6; 
    border-radius: 5px; 
    background-color: #fff; 
    font-size: 1.85vw;
    margin-right: 3vw;
}

.input-overlay-favorite{
	position: absolute; 
    top: 79vh; 
    left: 28vw; 
    transform: translate(-50%, -50%); 
	z-index: 1;
}

.custom-checkbox{
	appearance: none; 
    width: 1.6vw; 
    height: 3.2vh; 
    border: 2px solid #869cc6; 
    border-radius: 5px; 
    background-color: #fff; 
    transform: scale(1.5); 
    margin-right: 10px; 
}

.custom-checkbox:checked {
    background-color: #6a7da0; 
}

.custom-checkbox:checked::before {
    content: '✓'; 
    font-size: 0.9vw;
    color: white;
	position: absolute;
    top: 0;
    left: 0.3vw;
}

.favorite-label{
	color: #483966;
    font-size: 4vw ;
    font-family: serif;	
	border-radius: 5px;
	width: 144%;
}

textarea{
    resize: none;
    border: 5px solid #869cc6;
    border-radius: 5px;
	font-size: 1.55vw;
}

.textarea-container{
    position:absolute;
    bottom: 12vh;
    left:50vw;
}

h6 {
    position: absolute;
    bottom: 60vh;
    left: 50vw;
    font-size: 3.8vw;
    background-color: #ffffff;
    padding: 3vh 2vw;
    color: #483966;
    border-radius: 5px; 
    border: 5px solid #869cc6; 
}

#saveBtn{
    border-radius: 5px;
    color: #483966;
    font-family: serif;
    font-size: 6.3vw;
    position:absolute;
    bottom: 78vh;
    left:74.5vw;
    background-color: white;
	border-color: #869cc6;
	border-width: 5px;
}