body{
    background-image: url('dreamer.png');
    background-size: cover;
}

h1{
    color: #d4ecff;
    position:absolute;
    top:1%;
    left:50%;
    transform: translateX(-50%);
    font-family: serif;
    font-size: 10rem;
}

button{
    background-color: rgba(198, 37, 37, 0.699);
    font-size: 5rem;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}