body{
    background-image: url('dreamer.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

h1{
    color: #d4ecff;
    position:absolute;
    bottom: 60%;
    left:50%;
    transform: translateX(-50%);
    font-family: serif;
    font-size: 10rem;
}

    .white-square {
        width: 400px;
        height: 300px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        display: flex; /* Flexbox to center content */
        justify-content: center; /* Centers content horizontally */
        margin-top: 5%;
    }

    h2{
        position:absolute;
        bottom: 56%;
        left:50%;
        transform: translateX(-50%);
        font-family: serif;
        font-size: 3rem;
        color: #483966;
    }

    h3{
        position:absolute;
        bottom: 40%;
        left:50%;
        transform: translateX(-50%);
        font-family: serif;
        font-size: 3rem;
        color: #483966;
    }

    button{
        background-color: white;
        color: #483966;
    }

    .button-container {
        display: flex;
        justify-content: space-between; /* Space between buttons */
        width: 400px; /* Same width as the white square */
      }