body{
    background-image: url('dreamer.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

h1{
    color: #d4ecff;
    position:absolute;
    bottom: 60%;
    left:50%;
    transform: translateX(-50%);
    font-family: serif;
    font-size: 10rem;
}