body{
    background-image: url('dreamer.png');
    background-size: cover;
}

h1{
    color: #d4ecff;
    font-family: serif;
    font-size: 7rem;
	margin: 0;
	margin-left: 30px;
}

#exitBtn{
    color: #d4ecff;
    background-color: transparent;
    border-color: transparent;
	margin: 0;
}

img{
	width: 100px;
	height: 100px;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: row;
}

.itemback{
    width: 450px;
    height: 400px;
    background-color: white;
	border: 5px solid #869cc6;
	border-radius: 5px;
}

.square{
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 70vh; 
	margin-left: 20px;
}

.input-overlay-title{
	position: absolute; 
    top: 37%; 
    left: 15%; 
    transform: translate(-50%, -50%); 
	z-index: 1;
}

.input-label{
	color: #483966;
    font-size: 4rem;
    font-family: serif;
}

.text-input{
    color: #483966;
    font-size: 1.5rem;
    font-family: serif;	
	border: 2px solid #869cc6;
	border-radius: 5px;
	width: 144%;
}


.input-overlay-type{
	position: absolute; 
    top: 58%; 
    left: 15%; 
    transform: translate(-50%, -50%); 
	z-index: 1;
}

.input-overlay-date{
	position: absolute; 
    top: 79%; 
    left: 11.5%; 
    transform: translate(-50%, -50%); 
	z-index: 1;
}

.date-label{
	color: #483966;
    font-size: 3rem;
    font-family: serif;
}

.custom-date{
	appearance: none; 
    width: 175px; 
    border: 2px solid #869cc6; 
    border-radius: 5px; 
    background-color: #fff; 
    font-size: 1.5rem;
    margin-right: 30px;
}

.input-overlay-favorite{
	position: absolute; 
    top: 79%; 
    left: 28%; 
    transform: translate(-50%, -50%); 
	z-index: 1;
}

.custom-checkbox{
	appearance: none; 
    width: 20px; 
    height: 20px; 
    border: 2px solid #869cc6; 
    border-radius: 5px; 
    background-color: #fff; 
    transform: scale(1.5); 
    margin-right: 10px; 
}

.custom-checkbox:checked {
    background-color: #6a7da0; 
}

.custom-checkbox:checked::before {
    content: '✓'; 
    font-size: 12px;
    color: white;
	position: absolute;
    top: 0;
    left: 3px;
}

.favorite-label{
	color: #483966;
    font-size: 3rem;
    font-family: serif;	
	border-radius: 5px;
	width: 144%;
}

textarea{
    resize: none;
    border: 5px solid #869cc6;
    border-radius: 5px;
	font-size: 20px;
}

.textarea-container{
    position:absolute;
    bottom: 10%;
    left:50%;
}

h6 {
    position: absolute;
    bottom: 60%;
    left: 50%;
    font-size: 3rem;
    background-color: #ffffff;
    padding: 20px 20px;
    color: #483966;
    border-radius: 5px; 
    border: 5px solid #869cc6; 
}

#saveBtn{
    border-radius: 5px;
    color: #483966;
    font-family: serif;
    font-size: 5rem;
    position:absolute;
    bottom: 78%;
    left:74.5%;
    background-color: white;
	border-color: #869cc6;
	border-width: 5px;
}