body{
    background-image: url('dreamer.png');
    background-size: cover;
}

h1{
    color: #d4ecff;
    position:absolute;
    bottom:55%;
    left:50%;
    transform: translateX(-50%);
    font-family: serif;
    font-size: 12vw;
}

img{
	width: 7.8vw;
	height: 16vh;
}

.container{
	display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: row;
}

#historyexitBtn{
	color: #d4ecff;
    background-color: transparent;
    border-color: transparent;
	margin: 0;
}

#decreaseIndexBtn{
    background-color: transparent;
    border-color: transparent;
	margin: 0;	
	transform: rotate(180deg);
}

#increaseIndexBtn{
    background-color: transparent;
    border-color: transparent;
	margin: 0;	
}

.button-container{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10%;
    padding: 0 50px; 
}

.historysquarecontainer{
	display: flex;
    justify-content: space-around; 
    flex-grow: 1; 
    margin: 0 20px;
}

.historysquare{
    width: 150px;
    height: 300px;
    background-color: white;
	border: 5px solid #869cc6;
	border-radius: 5px;
}

.dropdown{
	display: inline-block;
	position: absolute;
	top: 10%;
	right:20%;
}

.dropdown button{
	background-color: white;
	color: #483966;
	border: 2px solid #869cc6;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
	
}

.dropdown .dropdown-content{
	display: none;
	display: none;
	position: absolute;
	background-color: white;
	min-width: 100px;
	border: 2px solid #869cc6;
	border-radius: 5px;
	box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.7);
}

.dropdown:hover .dropdown-content{
	display: block;
	
}

.dropdown:hover button{
	background-color: hsl(0, 0%, 95%);
}

.radiolabelcontainer{
	color: #483966;
}

.squaretitleOutput0{
	font-family: serif;
	position: absolute;
	z-index: 1;
	color: #483966;
	margin-left: 12%;
}

.squaretitleOutput1{
	font-family: serif;
	position: absolute;
	z-index: 1;
	color: #483966;
	margin-left: 26%;
}

.squaretitleOutput2{
	font-family: serif;
	position: absolute;
	z-index: 1;
	color: #483966;
	margin-left: 40%;
}

.squaretitleOutput3{
	font-family: serif;
	position: absolute;
	z-index: 1;
	color: #483966;
	margin-left: 54%;
}

.squaretitleOutput4{
	font-family: serif;
	position: absolute;
	z-index: 1;
	color: #483966;
	margin-left: 68%;
}

#titleOutput0, #titleOutput1, #titleOutput2, #titleOutput3, #titleOutput4{
	color: #483966;
	font-size: 1vw;
	resize: none;
	width: 11vw;
	background-color: transparent;
    border-color: transparent;
	
}

#dateOutput0, #dateOutput1, #dateOutput2, #dateOutput3, #dateOutput4{
	color: #483966;
	resize: none;
	width: 11vw;
	font-size: 1vw;
	background-color: transparent;
    border-color: transparent;
}

#descriptionOutput0, #descriptionOutput1, #descriptionOutput2, #descriptionOutput3, #descriptionOutput4{
	color: #483966;
	resize: none;
	width: 11vw;
	height: 37vh;
	font-size: 1vw;
	background-color: transparent;
    border-color: transparent;
}